{{#if fetchMetadat.isRunning}}
  ...loading metadata...
{{else}}
  <table>
    <tr>
      <th>Key</th><th>Values</th>
    </tr>
    {{#each tableContents as |row|}}
      <tr>
        <td>{{row.key}}</td>
        <td>{{row.valueString}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}
