<div class="search-box-wrapper">
  <div class="container search-box">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        {{search-input/raw-search search=search kind=kind onSearch=onSearch}}
      </div>
    </div>
  </div>
</div>
