<!--  Component search-box-->
<div class="search-box-wrapper">
  <div class="container search-box">
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <div class="input-group">
          <!-- {{input class="form-control" placeholder="Search..." aria-label="search" value=(mut newSearchString) enter=(action "updateSearch")}} -->
          {{input class="form-control" placeholder=searchPlaceholder aria-label="Search" value=(mut newSearchString) enter=(action "updateSearch")}}
          {{#bs-dropdown class="input-group-append" as |dd|}}
            {{#dd.menu as |menu|}}
              {{#menu.item active=(eq newSearchKind "file") action=(action "changeKind" "file")}}
                Any file
              {{/menu.item}}
              {{#menu.item active=(eq newSearchKind "image") action=(action "changeKind" "image")}}
                Image
              {{/menu.item}}
              {{#menu.item  active=(eq newSearchKind "text") action=(action "changeKind" "text")}}
                Text
              {{/menu.item}}
              {{#menu.item active=(eq newSearchKind "video") action=(action "changeKind" "video")}}
                Video
              {{/menu.item}}
              {{#menu.item active=(eq newSearchKind "audio") action=(action "changeKind" "audio")}}
                Audio
              {{/menu.item}}
              {{#menu.item active=(eq newSearchKind "directory") action=(action "changeKind" "directory")}}
                Directory
              {{/menu.item}}
            {{/dd.menu}}

            <div class="btn-group">
              {{#dd.button class="input-group-append btn-outline-secondary dropdown-toggle dropdown-toggle-split"}}
                <span class="sr-only">Toggle Dropdown</span>
              {{/dd.button}}

              {{#bs-button class="input-group-append" type="outline-secondary" onClick=(action "updateSearch")}}Action{{/bs-button}}
            </div>

          {{/bs-dropdown}}
        </div>

      </div>
    </div>
  </div>
</div>
