<div class="row">
  <div class="col">

    <div class="list-group">
      {{#each results.hits as |hit|}}
        {{search-hit-card hit=hit forceExpand=openAllResults onclick=(action "setAsSelectedHit" hit.hash)}}
      {{/each}}
    </div>

  </div>
</div>
