@import "ember-bootstrap/bootstrap";

// START to de desigend
.page-link.current-page, .page-link.has-more-pages {
  color: black;
}

.search-box-wrapper {
  img {
    max-height: 45px;
  }
}
// END to be designed

.btn-group > .input-group-append:not(:last-child) {
  @include border-right-radius(0);
}

.search-box-wrapper {
  z-index:10;
  position:fixed;
  width:100%;
  background-color:#99ffff;
  height:62px;
  top:0;
  left:0;
  right:0;
  .search-box {
    padding-top: 10px;
    padding-left:15px;
    padding-right:15px;
    .input-group {
      background-color:white;
    }
  }
}

.search > .results-wrapper {
  padding-top:62px;
  left:0;
  right:0;
  padding-bottom: 62px;
}

.search-footer-wrapper {
  position:fixed;
  background-color:#99ffff;
  bottom:0;
  left:0;
  right:0;
  .search-footer {
    padding-bottom:5px;
    padding-top:10px;
    .rpio {
      padding-top:5px;
      font-size: 75%;
    }
  }
}


@import "includes/fontawesome";
@import "includes/fa-solid";
@import "includes/glyphicons";
@import "includes/colors";
@import "includes/helpers";

.available {
  color: $available-color;
}
.might-be-available {
  color: $might-be-available-color;
}
.unavailable {
  color: $unavailable-color;
}

.header-wrapper {
  z-index: 1;
  position:fixed;
  top:0px;
  left:0;
  right:0;
  height:50vh;
  background-image: url("../assets/background-02.png");
  background-color: $dark-color;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: top 0.1s ease-in-out;
  .container {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    .identity {
      position:absolute;
      left:0;
      right:0;
      bottom:58px;
      h1 {
        a {
          img {
            width:388px;
          }
        }
      }
    }
    .search-bar {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      margin-bottom: 15px;
      .glyphicons-search {
        position: absolute;
        font-size:28px;
        color: darken( $white-color, 30% );
        left:1px;
        top:0;
      }
    }
  }
}

.results-wrapper {
  overflow-x: hidden;
  transition: margin-top 0.1s ease-in-out;
  z-index: 0;
  position:relative;
  .container {
    .list-group {
      .list-group-item {
        &:hover {
          cursor: pointer;
        }
        h5 {
          overflow: hidden;
          word-wrap:break-word;
          padding-right: 12px;
          width: 100% !important;
        }
        p, small {
          overflow: hidden;
          word-wrap:break-word;
        }
      }
    }
    .form-check {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .pagination {
      .page-link {
        color: #495057;
      }
    }
  }
}

.footer-wrapper {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  .container {
    margin-top: 15px;
    .links {
      margin-bottom: 5px;
    }
    .rpio {
      font-size: 80%;
      margin-bottom: 15px;
    }
  }
}

// What happens if we have results
.search-page.search-results {
  .header-wrapper {
    background-image: none;
    height:132px;
    .container {
      .identity {
        top:15px;
        .identity-wrapper {
          h1 {
            a {
              img {
                width:288px;
              }
            }
          }
        }
      }
    }
  }
  .results-wrapper {
    margin-top: 132px;
  }
  .footer-wrapper {
    position:relative;
  }
}

// Small devices (landscape phones, 576px and less)
@media (max-width: 576px) {
  .header-wrapper {
    background-size: 1024px;
    top:0px;
    .container {
      .identity {
        top:15px;
        h1 {
          a {
            img {
              width:288px;
            }
          }
        }
      }
    }
  }
  .results-wrapper {
    margin-top: 200px;
    .container {
      .list-group {
        .list-group-item:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
      }
      .results-header {
        padding-right: 15px;
      }
      .pagination {
        padding-right: 15px;
      }
    }
  }
  .search-page.search-results {
    .header-wrapper {
      height:200px;
      top:-133px;
    }
    .results-wrapper {
      margin-top: 67px;
      .container {
        padding: 0;
      }
    }
  }
}

.modal {
  padding-right: 0 !important;
  .modal-dialog {
    margin-top: 0;
    margin-bottom:0;
    .modal-content {
      height:100vh;
      border-radius: 0;
      border: 0;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
      .modal-header {
        border-bottom: none;
        h5 {
          overflow: hidden;
          word-wrap:break-word;
          line-height: 115%;
        }
      }
      .modal-body {
        padding-top:0;
        margin-bottom:0;
        background-color: white;
        p {
          align-self: flex-start;
        }
        dl {
          dd {
            overflow: hidden;
            word-wrap:break-word;
          }
        }
      }
    }
  }
}

// What happens if we have results
// .search-page.search-results {
//   .header-wrapper {
//     background-image: none;
//     //height:132px;
//     .container {
//       .identity {
//         top:15px;
//         .identity-wrapper {
//           h1 {
//             a {
//               img {
//                 width:288px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   .results-wrapper {
//     margin-top: 132px;
//   }
//   .footer-wrapper {
//     position:relative;
//   }
// }
