<div class="search-box-wrapper">
  <div class="container search-box">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <SearchInput::RawSearch @search={{@search}} @kind={{@kind}} @onSearch={{@onSearch}} />
      </div>
    </div>
  </div>
</div>
