<div class="row">
  <div class="col">
    <div class="list-group">
      {{#each @results.hits as |hit|}}
        <SearchHitCard
          @hit={{hit}}
          @onOpenDetail={{fn (mut this.selectedHit) hit.hash}}
          @selected={{eq hit.hash this.selectedHit}} />
      {{/each}}
    </div>
  </div>
</div>