{{#if this.showMetadata}}
  <div {{on "click" (fn (mut this.showMetadata) false)}} class="btn btn-light">Hide metadata</div>

  {{yield}}
{{else}}
  <div {{on "click" (fn (mut this.showMetadata) true)}} class="btn btn-light">Show all metadata</div>
{{/if}}