body {
  font-family: "Helvetica Neue", Geneva, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  padding-top: 20pt;
  padding-left: 8pt;
  padding-right: 20pt;
  padding-bottom: 0pt;
  width: 45em;
}
p {
  margin-top: 0pt;
  margin-bottom: 1ex;
}
body>p {
  text-align: justify;
}
code {
  text-align: left;
}
h3 {
  margin: 2.5ex 0pt 0.5ex 0pt;
}
h5 {
  margin: 13pt 6pt 0pt;
}
.uglyred {
    color: red;
}
.uglyblue {
    color: blue;
}
