<div class={{this.activePage}}>
  {{outlet}}

  <div class="footer-wrapper">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="links">
          <a class="btn btn-light btn-sm" role="button" href="/api/">API</a>
          <a class="btn btn-light btn-sm" role="button" href="https://github.com/ipfs-search/ipfs-search">Code</a>
          <a class="btn btn-light btn-sm" role="button" href="mailto:info@ipfs-search.com">Contact</a>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="rpio">Proudly sponsored by <a href="https://redpencil.io/">redpencil.io</a></div>
      </div>

    </div>
  </div>
</div>
