{{outlet}}

<div class="footer">
  <div class="rpio">Proudly sponsored by <a href="https://redpencil.io/">redpencil.io</a></div>
  <div class="links">
    <a href="/api/">API</a> | <a href="https://github.com/ipfs-search/ipfs-search">Code</a> | <a href="mailto:info@ipfs-search.com">Contact</a>
  </div>
</div>
