<div class={{this.activePage}}>
  {{outlet}}

  <div class="footer-wrapper">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="links">
          <a class="btn btn-light btn-sm" role="button" href="https://blog.ipfs-search.com/">Blog</a>
          <a class="btn btn-light btn-sm" role="button" href="https://ipfs-search.readthedocs.io/en/latest/">Docs</a>
          <a class="btn btn-light btn-sm" role="button" href="https://api.ipfs-search.com/">API</a>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="links">
          <a class="btn btn-light btn-sm" role="button" href="https://mastodon.social/@ipfssearch">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16" role="img" aria-label="Mastodon">
              <use xlink:href="/assets/bootstrap-icons.svg#mastodon"/>
            </svg>
          </a>
          <a class="btn btn-light btn-sm" role="button" href="https://twitter.com/SearchIpfs">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16" role="img" aria-label="Twitter">
              <use xlink:href="/assets/bootstrap-icons.svg#twitter"/>
            </svg>
          </a>
          <a class="btn btn-light btn-sm" role="button" href="https://github.com/ipfs-search/ipfs-search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" role="img" aria-label="GitHub">
              <use xlink:href="/assets/bootstrap-icons.svg#github"/>
            </svg>
          </a>
          <a class="btn btn-light btn-sm" role="button" href="mailto:info@ipfs-search.com">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16" role="img" aria-label="Email">
              <use xlink:href="/assets/bootstrap-icons.svg#envelope-fill"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="https://nlnet.nl/discovery"><img height="32" src="assets/NGI0_tag.svg" /></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="https://redpencil.io/"><img height="16" src="assets/rpio-logo.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>