<div class="search">
  <div class="search-box-wrapper">
    <div class="container search-box">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img src="/img/logo-ipfs-search.svg" />
        </div>

        <div class="col-md-8">
          {{search-input/raw-search kind=kind search=search onSearch=(action "updateSearch")}}
        </div>
      </div>
    </div>
  </div>

  <div class="results-wrapper">
    {{liquid-outlet}}
  </div>
</div>
