<div class="search">
  <div class="search-box-wrapper">
    <div class="container search-box">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img src="/img/logo-ipfs-search.svg" />
        </div>

        <div class="col-md-8">
          {{search-input/raw-search kind=kind search=search onSearch=(action "updateSearch")}}
        </div>
      </div>
    </div>
  </div>

  <div class="results-wrapper">
    {{#if searchRepo.isRunning}}
      loading
    {{else}}
      <div class="search-results">
        {{search-results results=data kind=kind}}

        <div class="container pagination">
          {{page-list totalPages=data.page_count currentPage=data.page}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
